* {
    padding: 0px;
    margin: 0px;
}

/* Game preview cards start */
.card-preview-image {
    border-radius: 20px;
    box-shadow: 0px 0px 8px black;
    width: 100%;
    max-width: 300px;
    transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

.card-preview-image:hover {
    transform: scale(1.03);
    -o-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
}

.card-preview-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
/* Game preview cards end */

/* Title animation start */
.grow-in {
    transform: scale(0);
    animation: scale 1.4s forwards;
}

.delay1 {
animation-delay: 0.3s;
}

.delay2 {
    animation-delay: 0.8s;
}

.delay3 {
    animation-delay: 20.5s;
}

@keyframes scale {
    35% {
    transform: scale(1.2);
    }
    100% {
    transform: scale(1)
    }
}

.slide-right {
    position: relative;
    left: -2000px;
    animation: slide-right 0.8s forwards;
    animation-delay: 0.2s;
    animation-timing-function: ease-out;
}

@keyframes slide-right {
    100% {
        left: 0px;
    }
}

.slide-left {
    position: relative;
    right: -2000px;
    animation: slide-left 0.8s forwards;
    animation-delay: 0.2s;
    animation-timing-function: ease-out;
}

@keyframes slide-left {
    100% {
        right: 0px;
    }
}

.slide-up {
    position: relative;
    bottom: -2000px;
    animation: slide-up 1s forwards;
}

@keyframes slide-up {
    100% {
        bottom: 0px;
    }
}
/* Title animation end */