.card-preview-image {
    border-radius: 20px;
    box-shadow: 0px 0px 8px black;
    width: 100%;
    max-width: 300px;
    transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

.card-preview-image:hover {
    transform: scale(1.03);
    -o-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
}

.card-preview-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}